//white
$white-50: #ffffff;

// gray
$gray-50: #f4f4f4;
$gray-100: #dcdedf;
$gray-200: #888888;
$gray-300: rgba(255, 255, 255, 0.3);

//black
$black-50: #000000;

//yellow
$yellow-50: #e9fca1;

//orange

$orange-50: #fecba9;
$orange-100: #f7aa77;

//green
$green-50: #d4f4cc;

//blue
$blue-50: #c6e6e8;


