@import "reset/reset";
@import "breakpoints/media-breakpoints";
@import "variable/variable";
@import "fonts/fonts";


body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 27px;
}